@import '../../sass/main.scss';

.projectsSection {
  margin-bottom: 20px;
}

.bigTitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  font-family: Montserrat, sans-serif;
  margin-bottom: 5px;

  @include mq(tablet) {
    margin-bottom: 7px;
  }
}

.middleTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  font-family: Montserrat, sans-serif;
  color: #aa73d6;
  margin-bottom: 10px;
}

.list {
  margin-bottom: 10px;

  @include mq(tablet) {
    margin-left: 20px;
  }
}
