@import '../../../sass/main.scss';

.contactsItem {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: justify;
  vertical-align: baseline;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.icon:hover .item,
.icon:focus .item {
  &:hover,
  &:focus {
    fill: #aa73d6;
  }
}

.item {
  margin-right: 10px;

  @include mq(desktop) {
    margin-right: 15px;
  }
}

.contactsLink {
  color: #adb1b7;
  text-align: justify;
  vertical-align: middle;
  font-size: 14px;
  line-height: 1.83;
  letter-spacing: 0.04em;

  @include mq(tablet) {
    font-size: 13px;
  }

  @include mq(desktop) {
    font-size: 14px;
  }
}

.contactsItem:hover .contactsLink,
.contactsItem:focus .contactsLink {
  color: #aa73d6;
}
