@import '../../sass/main.scss';

.langSkillsSection {
  margin-bottom: 20px;
}

.langSkillsTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.71;
  margin-bottom: 10px;

  @include mq(tablet) {
    font-size: 22px;
  }
}
